In [ ]:
# List comprehension

In [1]:
# none   gali buti null, nan, nill

niekas = None
print(type(niekas))

<class 'NoneType'>

In [4]:
import random
vardas = ''
if random.random() > 0.5:
    vardas = input('iveskite varda')
if vardas != '':
    print(f'sveikas{vardas}')

In [8]:
import random

vardas = None

if random.random() > 0.5:
    vardas = input('Iveskite vardą:')

if vardas != None and vardas != '':
    print(f'Sveikas {vardas}!')
elif vardas != None and vardas == '':
    print(f'Nepavyko nuskaityti jusu vardo. Bandykite dar karta')
else:
    print('Jus nenurodete savo vardo')

Sveikas oksnaa!

In [9]:
list_1 = [1]
print(list_1.append(100))
print(list_1)

None
[1, 100]

In [14]:
# dictionaryt

me = {
    'vardas' : 'oksana',
    'pavarde' : 'zvirbliene',
    'amzius' : 43
}
print(me)

{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43}

In [15]:
print(me['vardas'])
print(me['pavarde'])

oksana
zvirbliene

In [16]:
me ["miestas"] = 'Vilnius'
print(me)

{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius'}

In [17]:
me["hobiai"] = ["tenisas", "barre"]
print(me)

{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}

In [18]:
someone = {
    True: 'tiesa',
    False: 'netiesa',
    None: 'none verte'
}
print ( someone[True] )
print ( someone[False] )
print ( someone[None] )

tiesa
netiesa
none verte

In [19]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50},
    {'vardas': 'Mantas', 'amzius': 40}
]
print(zmones)
print( zmones[0] )
print( zmones[0]['vardas'] )

print('for loop')
for zmogus in zmones:
    print( zmogus['vardas'] )

[{'vardas': 'Jonas', 'amzius': 35}, {'vardas': 'Petras', 'amzius': 50}, {'vardas': 'Mantas', 'amzius': 40}]
{'vardas': 'Jonas', 'amzius': 35}
Jonas
for loop
Jonas
Petras
Mantas

In [20]:
print(me)
print(len(me))

{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}
5

In [23]:
me = {'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}
print(me)
me.pop('amzius')
print(me)
del me ['miestas']
print(me)

{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}
{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}
{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'hobiai': ['tenisas', 'barre']}

In [27]:
print(me)
#me.clear()
me = {'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}
print(me.popitem())
print(me)

{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius'}
('hobiai', ['tenisas', 'barre'])
{'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius'}

In [32]:
me = {'vardas': 'oksana', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}

#me['neegzist']
me.get('neegzist')  #klaida
print(me.get('neegzist')) #nera klaidos
print(me.get('neegzist', 'nerastas')) 
print(me.get('neegzist', 0)) 
print(me.get('amzius', 0))

None
nerastas
0
43

In [34]:
me = {'vardas': 'oksana', 'pavarde': 'zvirbliene'}
updated_info = {'vardas': 'oksa', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}
print(me)
me.update(updated_info)
print(updated_info)

# negali buti 2 vienodi raktazodiai for

{'vardas': 'oksana', 'pavarde': 'zvirbliene'}
{'vardas': 'oksa', 'pavarde': 'zvirbliene', 'amzius': 43, 'miestas': 'Vilnius', 'hobiai': ['tenisas', 'barre']}

In [35]:
for value in me.values():
    print(value)

oksa
zvirbliene
43
Vilnius
['tenisas', 'barre']

In [37]:
for key in me.keys():
    print(key)

vardas
pavarde
amzius
miestas
hobiai

In [38]:
for key, value in me.items():
    print (f"key is '{key}' with a value of: {value}")

key is 'vardas' with a value of: oksa
key is 'pavarde' with a value of: zvirbliene
key is 'amzius' with a value of: 43
key is 'miestas' with a value of: Vilnius
key is 'hobiai' with a value of: ['tenisas', 'barre']

In [42]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

twitter_post["user"]

{'id': 4448809940,
 'id_str': '4448809940',
 'name': 'ayah',
 'screen_name': 'lovbyun',
 'location': 'bbh iu jjh pcy kjd dks',
 'url': 'https://curiouscat.me/baekhyun-l',
 'description': 'hi hello I love exo',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 1142,
 'friends_count': 125,
 'listed_count': 20,
 'favourites_count': 5712,
 'statuses_count': 4011,
 'created_at': 'Fri Dec 04 03:44:59 +0000 2015',
 'utc_offset': -28800,
 'time_zone': 'Pacific Time (US & Canada)',
 'geo_enabled': False,
 'lang': 'en',
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': '000000',
 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
 'profile_background_tile': False,
 'profile_link_color': 'F58EA8',
 'profile_sidebar_border_color': '000000',
 'profile_sidebar_fill_color': '000000',
 'profile_text_color': '000000',
 'profile_use_background_image': False,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4448809940/1519340670',
 'default_profile': False,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [43]:
twitter_post["user"]['friends_count']

125

In [66]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car)
print(len(car))
print(car['brand'])
updated_car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2022
}
print(updated_car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [67]:
car["color"] = 'red'
car["used"] = True
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red', 'used': True}

In [71]:
car.pop('model')
print(car)

{'brand': 'Ford', 'year': 1964, 'color': 'red', 'used': None}

In [73]:
car['used'] = None
print(car)

{'brand': 'Ford', 'year': 1964, 'color': 'red', 'used': None}

In [ ]:
#set

my_list = [100,2,3,4,5,1,1,1,1,1,"a, "d", ]

In [78]:
fruits = {'apple', "banana", "cherry"}
print(fruits)
fruits.add('pear')
print(fruits)
fruits.add(5)
print(fruits)

{'cherry', 'apple', 'banana'}
{'cherry', 'pear', 'apple', 'banana'}
{'pear', 5, 'apple', 'cherry', 'banana'}

In [86]:
fruits = {'apple', "banana", "cherry"}
fruits.discard('apple')
print(fruits)
fruits.add('watermelon')
print(fruits)

{'cherry', 'banana'}
{'cherry', 'watermelon', 'banana'}