In [2]:
"Oksana" + " " +"Zvirbliene" 
# atimti negalima

'Oksana Zvirbliene'

In [6]:
"hi" ' ' * 100
# dalinti / negalima

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [18]:
name = "oksana"
surname ="Zvirbliene"
number = "54"
print(name + " " + surname + " " + ", nice tu meet you")
print( f'{name} {surname}, nice to meet you, your number is {number}')

oksana Zvirbliene , nice tu meet you
oksana Zvirbliene, nice to meet you, your number is 54

In [22]:
number = 423
number_text = '43'
float_number = 1.5

print(type(number))
print(type(float_number))
print(type(number_text))

<class 'int'>
<class 'float'>
<class 'str'>

In [30]:
suma = number + float_number
print(suma)
print(type(suma))
print( 10 -5)
print( 10 *5)
print( 10 +5)
print( 10 / 5)
print( 14 // 3)  # duoda sveika dalis dalybos

424.5
<class 'float'>
5
50
15
2.0
4

In [36]:
print( 'isveda dalybos liekana')
print( 14 %3)
print( 11 %3)
print( 11 %2)
print( 16 %2) #jeigu gaunam 1 - skaicius nelyginis, jeigu 0 -lyginis

isveda dalybos liekana
2
2
1
0

In [41]:
print ('kelimas laipsniu')
print(2**2)
print(6**6)
print(6**2)

kelimas laipsniu
4
46656
36

In [45]:
suma = 0
kaina_1  = 5.4
kaina_2 = 4.2
suma = suma+ kaina_1
suma = suma+ kaina_2
suma = kaina_2 + kaina_1
print(suma)

9.600000000000001

In [51]:
suma = 5+4
suma = 5-4
print(suma)
suma = 5*4
print(suma)
suma = 64/8
print(suma)
print(suma)

1
20
8.0
8.0

In [56]:
suma = float_number + float_number
print(10.5+7.5)
print(10.5-7.5)
print(10.5/7.5)
print(10.5*7.5)

18.0
3.0
1.4
78.75

In [58]:
atstumas = float_number / float_number
print(150000000/384000)

390.625

In [66]:
pirmas = 9
antras = 5
print(9+5)
print(9-5)
print(9*5)
print(9/5)
print(9%5)
print(pirmas + antras)

14
4
45
1.8
4
14

In [65]:
dist_sun = 150_000_000
dist_moon = 384_000
print(dist_sun / dist_moon)

390.625

In [80]:
# Boolean
bool_true = True
print(bool_true)
print(type(bool_true))
bool_true = bool(1)
print(bool_true)
bool_true = False
print(bool_true)
print(bool_true)
print(bool(0))  # jeigu skaicius lygus 0 bus false, jeigu ne 0 -true

True
<class 'bool'>
True
False
False
False

In [88]:
print(2>5)
print(2<5)
print(2<=5)
print(2==5)
print(5==5)
print(5!=5)
print(5!=2)

False
True
True
False
True
False
True

In [93]:
text = 'Hello world'
bool_text = 'd' in text
print(bool_text)
bool_text = 'D' in text
print(bool_text)
print(text.islower())

True
False
False

In [96]:
print(bool('')) # false kai tekstas tuscias, jeigu yra tarpas jau bus true
print(bool(' '))
print(bool(' bnvm'))

False
True
True

In [98]:
print(not True)
print(not not True)

False
True

In [101]:
print('and')
print(20>10 and 5<1)
print('or')

and
False
or

In [114]:
print(5<10)
print(5==5)
text = 'Hello Python'
bool_text = 'l' in text
print(bool_text)
bool_text = 'a' in text
print(bool_text)
bool_true = bool(1)
print(bool_true)
bool_true = bool(0)
print(bool_true)
print(text.islower())
print(bool())
print(bool(''))

True
True
True
False
True
False
False
False
False

In [134]:
# List 
cities = [ 'Vilnius', 'Kaunas', 'Klaipeda' ]
print(cities)
print(cities[0])
print(type(cities))
print(cities[1:])
print(cities[2:])
print(cities[-2])

['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius
<class 'list'>
['Kaunas', 'Klaipeda']
['Klaipeda']
Kaunas

In [124]:
numbers = [15, 654, 769, 568, 4287, '5']
print(type(numbers[0]))

<class 'int'>

In [126]:
numbers = [15, 65, 48]
print(numbers)
numbers.append(51)
print(numbers)

[15, 65, 48]
[15, 65, 48, 51]

In [127]:
numbers.count(51)

1

In [132]:
numbers = [15, 65, 48]
numbers.append(51)
print(numbers)
numbers.append([10,72])
print(numbers)
print(numbers[-1])
print(len(numbers))
numbers.extend([10,72])
print(numbers)

[15, 65, 48, 51]
[15, 65, 48, 51, [10, 72]]
[10, 72]
5
[15, 65, 48, 51, [10, 72], 10, 72]

In [135]:
numbers.index(72) # grazina indeksa

6

In [136]:
numbers.insert(1,500)
print(numbers)

[15, 500, 65, 48, 51, [10, 72], 10, 72]

In [145]:
numbers.pop

[]

IndexError: pop from empty list

In [159]:
nested_list = [654, [[[48, [['65']]], 57]]]
print(nested_list)
print(len(nested_list))
print(nested_list[1])
print(len(nested_list[1]))
print(nested_list[1][0])
print(nested_list[1][0][0])
print(nested_list[1][0][0][1])
print(nested_list[1][0][0][1][0])
print(nested_list[1][0][0][1][0][0])

[654, [[[48, [['65']]], 57]]]
2
[[[48, [['65']]], 57]]
1
[[48, [['65']]], 57]
[48, [['65']]]
[['65']]
['65']
65

In [3]:
numbers = [15, 65, 48]
print(numbers)
numbers.reverse()
print(numbers)

[15, 65, 48]
[48, 65, 15]

In [7]:
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[15, 48, 65]
[65, 48, 15]

In [9]:
numbers = [15, 65, 48]
print(sorted(numbers))
print(numbers)

[15, 48, 65]
[15, 65, 48]

In [14]:
#operator with list

combined = [1,2,3] + ['a', 'b', 'c']
print(combined)
print(combined*10)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [16]:
print(type([]))

<class 'list'>