In [1]:
# immutable variable:
a = 1
b = a
print ('pries')
print( id(a) )
print( id(b) )
b += 5
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
140710321513256
140710321513256
po
140710321513256
140710321513416
1
6

In [2]:
# mutable variable:
a = [1,2,3]
b = a
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2176090747584
2176090747584
po
2176090747584
2176090747584
[1, 2, 3, 10]
[1, 2, 3, 10]

In [3]:
# fixing mutable variable #1
a = [1,2,3]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2176089938496
2176090927488
po
2176089938496
2176090927488
[1, 2, 3]
[1, 2, 3, 10]

In [4]:
# where fix #1 doesn't work
a = [1,2, [ 'a', 'b' ] ]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2176090928128
2176090925696
po
2176090928128
2176090925696
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]

In [5]:
# fixing mutable variable #2
import copy
a = [1,2, [ 'a', 'b' ] ]
b = copy.deepcopy(a)
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2176090737280
2176090926976
po
2176090737280
2176090926976
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 'c']]

In [12]:
# TUPLE
my_tuple = (1,5,'b')
print(type(my_tuple))
# my_tuple + 5 #klaida
my_tuple + (54,2)
print(my_tuple[1])
print(my_tuple[1:])

<class 'tuple'>
5
(5, 'b')

In [15]:
print(my_tuple.count(1))
print(my_tuple.index(5))

1
1

In [18]:
print(len(my_tuple))
print(100 in my_tuple)
print(1 in my_tuple)

3
False
True

In [22]:
my_list = list(my_tuple)
print(my_list)
print(type(my_list))
print(my_tuple)

[1, 5, 'b']
<class 'list'>
(1, 5, 'b')

In [31]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple)
print(my_tuple[-1])
print(my_tuple[-1][-1])
print(my_tuple[-1][-1][-1])

(1, 2, ['3', 4, 5], [6, [7, 8]])
[6, [7, 8]]
[7, 8]
8

In [35]:
tuple1 = (11, [222, 33], 44, 55)
my_list = list(tuple1)
print(my_list)
print(my_list[1])

[11, [222, 33], 44, 55]
[222, 33]

In [ ]:
tuple1 = (11, [222, 33], 44, 55)
list1 = list(tuple1)
list1[1][1] = 22
tuple1 = tuple(list1)
print(tuple1)

In [54]:
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][1] = 22
print(tuple1)

(11, [222, 22], 44, 55)

In [51]:
# tuple1 = (5,10,15) #mano
# tuple2 = (1,3,7)
# tuple = tuple1 + tuple2
# print(tuple)
# tuple.count(10)
# tuple.index(1)
# tuple.index(15)

In [52]:
#kirilo
tuple2 = (1, 2, 76, 6)
tuple3 = (88, 3, 1, 1)
tuple_new = tuple2 + tuple3
print(tuple_new)
list_new = list(tuple_new)
list_new.pop(-1)
tuple_new = tuple(list_new)
print(tuple_new)
list_new = list(tuple_new)
list_new.sort()
tuple_new = tuple(list_new)
print(tuple_new)
print(tuple_new.count(1))
print(tuple_new[-1])

(1, 2, 76, 6, 88, 3, 1, 1)

TypeError: 'list' object is not callable

In [5]:
# range

print(range(10))
print(type(range(10)))
print(list(range(10)))
print(list(range(-5,10)))
print(list(range(-5,10,2)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -3, -1, 1, 3, 5, 7, 9]

In [7]:
# for loop (for ciklas)

miestai = ['Vilnius', 'Kaunas', 'Klaipeda']
# for sugalvotas zodis in <sarasa/tuple/list/tesktas/range
for miestas in miestai:
    print(miestas)
    print(miestai)
    print(f'{miestas} yra nuostabs miestas')

Vilnius
['Vilnius', 'Kaunas', 'Klaipeda']
Vilnius yra nuostabs miestas
Kaunas
['Vilnius', 'Kaunas', 'Klaipeda']
Kaunas yra nuostabs miestas
Klaipeda
['Vilnius', 'Kaunas', 'Klaipeda']
Klaipeda yra nuostabs miestas

In [9]:
for number in range(3,46,5):
    print(number**2)

9
64
169
324
529
784
1089
1444
1849

In [12]:
mokejimai = [13.4,1.45,153.24]
suma = 0
for mok in mokejimai:
    suma += mok
    print(f'tarpine suma:{suma}')
    print(f'galutine suma:{suma}')

tarpine suma:13.4
galutine suma:13.4
tarpine suma:14.85
galutine suma:14.85
tarpine suma:168.09
galutine suma:168.09

In [13]:
print(sum(mokejimai))

168.09

In [ ]:
# https://docs.python.org/3/library/functions.html

In [15]:
numan_input = input('koks jusu vardas?')
print(numan_input)

Oksana

In [17]:
skaiciai = [1,2,3,4,5,6,7,8,9,10,11,12,13]
for skaitmuo in skaiciai:
    print(skaiciai)
    print(skaiciai[:10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#teisingas
for skaicius in range (1,11):
    print(skaicius)

print ('antra dalis')
suma = 0
for skaicius in range (1,51):
    # suma = suma + skaicius
    suma += skaicius
print(suma)

1
2
3
4
5
6
7
8
9
10
antra dalis
1275

In [27]:
skaicius = input('iveskite skaiciu')
print( type(skaicius) )
skaicius = int( skaicius )
print( skaicius)
print( type(skaicius) )

for x in range(1,11):
    print(f'{skaicius}x{x} = {skaicius*x}')

<class 'str'>
2
<class 'int'>
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [32]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos =[]

for diena in dienos:
    print(diena)
    for valanda in valandos:
        print(valanda)
        kombinacijos.append((diena, valanda))
        print("mazo cilko pabaiga")
        print("didelio cilko pabaiga")
print(kombinacijos)

Pirmadienis
10
mazo cilko pabaiga
didelio cilko pabaiga
11
mazo cilko pabaiga
didelio cilko pabaiga
12
mazo cilko pabaiga
didelio cilko pabaiga
13
mazo cilko pabaiga
didelio cilko pabaiga
14
mazo cilko pabaiga
didelio cilko pabaiga
15
mazo cilko pabaiga
didelio cilko pabaiga
16
mazo cilko pabaiga
didelio cilko pabaiga
17
mazo cilko pabaiga
didelio cilko pabaiga
18
mazo cilko pabaiga
didelio cilko pabaiga
19
mazo cilko pabaiga
didelio cilko pabaiga
Antradienis
10
mazo cilko pabaiga
didelio cilko pabaiga
11
mazo cilko pabaiga
didelio cilko pabaiga
12
mazo cilko pabaiga
didelio cilko pabaiga
13
mazo cilko pabaiga
didelio cilko pabaiga
14
mazo cilko pabaiga
didelio cilko pabaiga
15
mazo cilko pabaiga
didelio cilko pabaiga
16
mazo cilko pabaiga
didelio cilko pabaiga
17
mazo cilko pabaiga
didelio cilko pabaiga
18
mazo cilko pabaiga
didelio cilko pabaiga
19
mazo cilko pabaiga
didelio cilko pabaiga
Treciadienis
10
mazo cilko pabaiga
didelio cilko pabaiga
11
mazo cilko pabaiga
didelio cilko pabaiga
12
mazo cilko pabaiga
didelio cilko pabaiga
13
mazo cilko pabaiga
didelio cilko pabaiga
14
mazo cilko pabaiga
didelio cilko pabaiga
15
mazo cilko pabaiga
didelio cilko pabaiga
16
mazo cilko pabaiga
didelio cilko pabaiga
17
mazo cilko pabaiga
didelio cilko pabaiga
18
mazo cilko pabaiga
didelio cilko pabaiga
19
mazo cilko pabaiga
didelio cilko pabaiga
Ketvirtadienis
10
mazo cilko pabaiga
didelio cilko pabaiga
11
mazo cilko pabaiga
didelio cilko pabaiga
12
mazo cilko pabaiga
didelio cilko pabaiga
13
mazo cilko pabaiga
didelio cilko pabaiga
14
mazo cilko pabaiga
didelio cilko pabaiga
15
mazo cilko pabaiga
didelio cilko pabaiga
16
mazo cilko pabaiga
didelio cilko pabaiga
17
mazo cilko pabaiga
didelio cilko pabaiga
18
mazo cilko pabaiga
didelio cilko pabaiga
19
mazo cilko pabaiga
didelio cilko pabaiga
Penktadienis
10
mazo cilko pabaiga
didelio cilko pabaiga
11
mazo cilko pabaiga
didelio cilko pabaiga
12
mazo cilko pabaiga
didelio cilko pabaiga
13
mazo cilko pabaiga
didelio cilko pabaiga
14
mazo cilko pabaiga
didelio cilko pabaiga
15
mazo cilko pabaiga
didelio cilko pabaiga
16
mazo cilko pabaiga
didelio cilko pabaiga
17
mazo cilko pabaiga
didelio cilko pabaiga
18
mazo cilko pabaiga
didelio cilko pabaiga
19
mazo cilko pabaiga
didelio cilko pabaiga
Sestadienis
10
mazo cilko pabaiga
didelio cilko pabaiga
11
mazo cilko pabaiga
didelio cilko pabaiga
12
mazo cilko pabaiga
didelio cilko pabaiga
13
mazo cilko pabaiga
didelio cilko pabaiga
14
mazo cilko pabaiga
didelio cilko pabaiga
15
mazo cilko pabaiga
didelio cilko pabaiga
16
mazo cilko pabaiga
didelio cilko pabaiga
17
mazo cilko pabaiga
didelio cilko pabaiga
18
mazo cilko pabaiga
didelio cilko pabaiga
19
mazo cilko pabaiga
didelio cilko pabaiga
Sekmadienis
10
mazo cilko pabaiga
didelio cilko pabaiga
11
mazo cilko pabaiga
didelio cilko pabaiga
12
mazo cilko pabaiga
didelio cilko pabaiga
13
mazo cilko pabaiga
didelio cilko pabaiga
14
mazo cilko pabaiga
didelio cilko pabaiga
15
mazo cilko pabaiga
didelio cilko pabaiga
16
mazo cilko pabaiga
didelio cilko pabaiga
17
mazo cilko pabaiga
didelio cilko pabaiga
18
mazo cilko pabaiga
didelio cilko pabaiga
19
mazo cilko pabaiga
didelio cilko pabaiga
[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

In [42]:
# if salyga 

age = int(input('iveskite amziu'))

if age >= 18:
    print(f'jums yra {age} metu, jus esate pilnametis')
elif age > 12:
     print('jums yra tarp')
else:
        print('jus jus esate pilnametis')

jums yra tarp

In [ ]:
age = int( input('iveskite amziu:') )

# vykdoma tik viena dalis, kuri yra True
if age >= 18:
    print(f'Jums yra {age} metu, jus esate pilnametis')
# Negera salygu tvarka
# elif age > 2:
#     print('Jums yra tarp 2 ir 8 metu')
elif age > 12:
    print('Jums yra tarp 12 ir 18 metu')
elif age > 8:
    print('Jums yra tarp 8 ir 12 metu')
elif age > 2:
    print('Jums yra tarp 2 ir 8 metu')
else:
    print('Jus esate nepilnametis')

In [44]:
x = int( input('iveskite skaiciu:') )
print( x )

if x % 2 == 0:
    print('lyginis')
else:
    print('nelyginis')

53
nelyginis

In [58]:
for skaicius in range (1,21):
    if skaicius % 3 == 0:
        print('dalinasi is 3')
        print(skaicius)

dalinasi is 3
3
dalinasi is 3
6
dalinasi is 3
9
dalinasi is 3
12
dalinasi is 3
15
dalinasi is 3
18

In [61]:
suma = 0
for skaicius in range (1,51):
    #print(skaicius)
    if (suma + skaicius) % 2 == 0:
        print('suma dalinasi is 2')
        suma += skaicius
        print(suma)

suma dalinasi is 2
2
suma dalinasi is 2
6
suma dalinasi is 2
12
suma dalinasi is 2
20
suma dalinasi is 2
30
suma dalinasi is 2
42
suma dalinasi is 2
56
suma dalinasi is 2
72
suma dalinasi is 2
90
suma dalinasi is 2
110
suma dalinasi is 2
132
suma dalinasi is 2
156
suma dalinasi is 2
182
suma dalinasi is 2
210
suma dalinasi is 2
240
suma dalinasi is 2
272
suma dalinasi is 2
306
suma dalinasi is 2
342
suma dalinasi is 2
380
suma dalinasi is 2
420
suma dalinasi is 2
462
suma dalinasi is 2
506
suma dalinasi is 2
552
suma dalinasi is 2
600
suma dalinasi is 2
650

In [ ]:
pasirinktas_skaicius = int( input('iveskite skaiciu') )

if (pasirinktas_skaicius ** 2) % 2 != 0:
    for i in range(1,11):
        print( pasirinktas_skaicius * i )
else:
    print( 'pasirinktas skaiƒçius pakeltas kvadratu yra lyginis' )